html{
    min-height: 100%;
    font-family: "Cambria";
}

body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin:0;
    padding: 0;
    padding-bottom: 60px;
    text-align: justify;
}

article {
    padding-right: 10%;
    padding-left: 10%;
    text-align: justify;
    text-justify: distribute;    
}

section[class="NewSection"]{
    display: inline-block;
}

footer {
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    background-color: #a1a6b4;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #0000cc;
    text-decoration: none;
}

footer a:visited{
    color: #0000cc;
    text-decoration: none;
}

header {
    background-color: #a1a6b4;
    width: 100%;
    height: 75px;
    display: block;
    position: fixed;
    top: 0;
}

.header_inner{
    padding-left: 2%;
    width: 98%;
    height: 100%;
    vertical-align: middle;
    background-color: #a1a6b4;
}

.header_fixed{
    height: 100%;
    display: table;
    float: left;
}

.header_fixed a{
    color: #0000cc;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-family: "Cambria";
    font-weight: 200;
    text-decoration: none;
}

.header_fixed a span{
    font-weight: 800;
    color: white;
}

.header_fixed a:hover{
    color: white;
    font-weight: 800;
}

.header_fixed a span:hover{
    font-weight: 200;
    color: #0000cc;
}

.header_nav{
    float: right;
    display: table;
}
.header_nav a{
    display: table-cell;
    width: 20%;
    height: 75px;
    background-color: #a1a6b4;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: "Cambria";
    font-size: 16pt;
}

.header_nav a:hover{
    color:#0000cc;
}

.header_nav a:hover{
    background-color: #b4d2e7;
}

h1{
    text-align: center;
    color: #0000cc;
    font-size: xxx-large;
}

h2{
    text-align: left;
}

.topSection{
    text-align: center;
    padding-top: 75px;
    padding-right: 10%;
    padding-left: 10%;
}

nav{
    text-align: center;
}

img{
    width: 100%;
    padding: 10pt;
}

figure{
    padding:0;
    margin:0;
}

iframe{
    width: 100%;
    padding-top: 10pt;
}
object{
    width: 100%;
    padding-top: 10pt;
}
blockquote{
    text-align: center;
    font-style: italic;
}

.contactPageTable{
    display: table;
}
.contactPageTable a{
    display: table-cell;
    padding-left: 40pt;
    padding-right: 40pt;
}

.EmailForm label{
    text-align: left;
    display: block;
    width:40%
}
.EmailForm input[type=text], textarea{
    width:40%;
    display: block;
}
.EmailForm input[type=submit]{
    width:150pt;
    display: block;
    font-family: "Cambria";
}

.BlogNav a{
    position: fixed;
    transition: 0.3s;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    height: 20px;
    width: 13px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    top: 45%;
}
.BlogNav a[id="BlogNavNext"]{
    right: 0;
    border-radius: 8px 0px 0px 8px;
    background-color: #b4d2e7;
}
.BlogNav a[id="BlogNavPrev"]{
    left: 0;
    border-radius: 0px 8px 8px 0px;
    background-color: #94c5cc;
}
.BlogNav a[id="BlogNavNext"]:hover{
    width: 100px;
}
.BlogNav a[id="BlogNavPrev"]:hover{
    width: 140px;
}

.ButtonTest{
    width: 30%;
    margin-top: 5%;    
    margin-left: 35%;    
    margin-right: 35%;
    padding: 2% 2% 2% 2%;
    font-family:  "Cambria";
    font-weight: bold;
    color: black;
    font-size: 2vw;
    background: #b4d2e7;    
    border-style: outset;
    border-width: 5px;
    border-radius: 15px 15px 15px 15px;
}
.ButtonTest:hover{
    color: white;
    background: #94c5cc;
}


.blogTable{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    color: #0000cc;
    text-align: center;
    border-collapse: collapse;
    font-size: 15pt;
}
.blogTable td:nth-child(1){
    width: 8%;
    font-weight: 900;
    padding: 8pt 8pt 8pt 8pt;
    border-style: solid;
    border-color: black;
    border-width: 1pt 0pt;
}
.blogTable td:nth-child(2), .blogTable td:nth-child(3){
    width: 20%;
    padding: 8pt 8pt 8pt 8pt;
    border-style: solid;
    border-color: black;
    border-width: 1pt 0pt;
}

.blogPageButton{
    width: 100%;
    font-family:  "Cambria";
    font-weight: bold;
    padding: 5%;
    color: black;
    background: #b4d2e7;    
    border-style: outset;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
}
.blogPageButton:hover{
    color: white;
    background: #94c5cc;
}

.MemeTable_1, .MemeTable_2, .MemeTable_3{
    width: 100%;
}
.MemeTable_1 td:nth-child(1){
    width: 32%;
    border-width: 1pt 0pt;
}
.MemeTable_1 td:nth-child(2){
    vertical-align: top;
}
.MemeTable_1 tr td img{
    margin:0;
    padding: 0;
}
.MemeTable_2 tr td img{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 15%;
    padding-left: 15%;
    width: 70%;
}
.MemeTable_2 td:nth-child(1){
    width: 50%;
}
.MemeTable_3 td{
    text-align: center;
    padding: 50% 0 0 0;
}

.DomainNameTable{
    border-collapse: collapse;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.DomainNameTable, .DomainNameTable td, .DomainNameTable tr, .DomainNameTable th{
    border-width: 1pt;
    border-style: solid;
    border-color: black;
}
.DomainNameTable td:nth-child(2), .DomainNameTable td:nth-child(3), .DomainNameTable th:nth-child(2), .DomainNameTable th:nth-child(3){
    text-align: center;
}

.AboutMePageButton{
    width: 100px;
    height: 50px;
    font-family:  "Cambria";
    font-weight: bold;
    padding: 5%;
    color: black;
    background: #b4d2e7;    
    border-style: outset;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
}
.AboutMePageButton:hover{
    color: white;
    background: #94c5cc;
}