html{
    min-height: 100%;
    font-family: "Cambria";
}

body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin:0;
    padding: 0;
    padding-bottom: 60px;
    text-align: justify;
}

article {
    padding-right: 10%;
    padding-left: 10%;
}

footer {
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    background-color: #a1a6b4;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #0000cc;
    text-decoration: none;
}

footer a:visited{
    color: #0000cc;
    text-decoration: none;
}

header {
    background-color: #a1a6b4;
    width: 100%;
    height: 75px;
    display: block;
    position: fixed;
    top: 0;
}

.header_inner{
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    height: 100%;
    vertical-align: middle;
    background-color: #a1a6b4;
}

.header_fixed{
    height: 100%;
    display: table;
    float: left;
}

.header_fixed a{
    color: #0000cc;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-family: "Cambria";
    font-weight: 200;
    text-decoration: none;

}

.header_fixed a span{
    font-weight: 800;
    color: white;
}

.header_fixed a:hover{
    color: white;
    font-weight: 800;
}

.header_fixed a span:hover{
    font-weight: 200;
    color: #0000cc;
}

.header_nav{
    float: right;
    height: 100%;
    
}

.header_nav a{
    display: table;
    height: 100%;
    vertical-align: middle;
    float: left;
    text-decoration: none;

}

.header_nav a:last-child{
    padding-right: 0;
}

.header_nav a li{
    display: table-cell;
    height: 100%;
    vertical-align: middle;

    color: white;
    font-family: "Cambria";
    font-size: 16pt;
    padding: 0px 30px;
}

.header_nav a li:hover{
    color:#0000cc;
    font-weight: 600;
}

.header_nav a:hover{
    background-color: #b4d2e7;
}

h1{
    text-align: center;
    color: #0000cc;
    font-size: xxx-large;
}

.topSection{
    text-align: center;
    padding-top: 75px;
}

nav{
    text-align: center;
}

figure img{
    padding-left: 15px;
    padding-right: 15px;

}

blockquote{
    text-align: center;
}

.contactPageTable{
    display: table;
}
.contactPageTable a{
    display: table-cell;
    padding-left: 40pt;
    padding-right: 40pt;
}

.EmailForm label{
    text-align: left;
    display: block;
    width:40%
}
.EmailForm input[type=text], textarea{
    width:40%;
    display: block;
}
.EmailForm input[type=submit]{
    width:150pt;
    display: block;
    font-family: "Cambria";
}

.BlogNav a{
    position: fixed;
    transition: 0.3s;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    height: 20px;
    width: 13px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    top: 45%;
}
.BlogNav a[id="BlogNavNext"]{
    right: 0;
    border-radius: 8px 0px 0px 8px;
    background-color: #b4d2e7;
}
.BlogNav a[id="BlogNavPrev"]{
    left: 0;
    border-radius: 0px 8px 8px 0px;
    background-color: #94c5cc;
}
.BlogNav a[id="BlogNavNext"]:hover{
    width: 100px;
}
.BlogNav a[id="BlogNavPrev"]:hover{
    width: 140px;
}

.ButtonTest{
    width: 30%;
    margin-top: 5%;    
    margin-left: 35%;    
    margin-right: 35%;
    padding: 20px 20px 20px 20px;
    font-family:  "Cambria";
    font-weight: bold;
    color: black;
    font-size: 20pt;
    background: #b4d2e7;    
    border-style: outset;
    border-width: 5px;
    border-radius: 15px 15px 15px 15px;
}
.ButtonTest:hover{
    color: white;
    background: #94c5cc;
}


.blogTable{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    color: #0000cc;
    text-align: center;
    border-collapse: collapse;
    font-size: 15pt;
}
.blogTable th:nth-child(1){
    width: 8%;
    padding: 8pt 8pt 8pt 8pt;
    border-style: solid;
    border-color: black;
    border-width: 1pt 0pt;
}
.blogTable th:nth-child(2){
    width: 20%;
    padding: 8pt 8pt 8pt 8pt;
    border-style: solid;
    border-color: black;
    border-width: 1pt 0pt;
}

.blogTable th:nth-child(3){
    width: 20%;
    padding: 8pt 8pt 8pt 8pt;
    border-style: solid;
    border-color: black;
    border-width: 1pt 0pt;
}

.blogPageButton{
    width: 100%;
    font-family:  "Cambria";
    font-weight: bold;
    padding: 5%;
    color: black;
    background: #b4d2e7;    
    border-style: outset;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
}
.blogPageButton:hover{
    color: white;
    background: #94c5cc;
}