body{
    text-align: left;
}

.week{
    display: flex;
    height: 50px;
    background-color: #a1a6b4;
    width: 80%;
    max-width: 80rem;
    align-self: center;
    align-items: center;
    justify-content: center;    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: calc(24px + 1vw);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 2%;
}
.week img{
    height: 10px;
    min-height: 10pt;  
    margin: 0;
    padding: 0;
    width: auto;
}
.blogItem{
    display: none;
    flex-direction: row;
    max-width: 80rem;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: flex-start;
    justify-content: space-evenly;
    z-index: 1;
    flex-wrap: wrap;
    align-self: center;
}

.blogItem.active{
    display: flex;
}
.blogItem a, .blogItem a:visited, .blogItem p{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #0000cc;
    font-size: calc(12pt + 1vw);
    font-weight: bold;
    text-align: center;
    width: 20rem;
}
.blogItem a{
    padding-bottom: 2%;
}
.blogItem img{
    margin: 0;
    padding: 0;
    width: 40rem;
    max-width: 100%;
}